build==0.8.0
base58~=2.1.1
solders~=0.19.0
aiohttp~=3.9.0
grpclib~=0.4.3
solana~=0.31.0
aiounittest~=1.4.1
numpy~=1.26.4
pip~=24.2
attrs~=23.1.0
wheel~=0.37.1
docutils~=0.20.1
setuptools~=75.1.0
packaging~=23.1
zipp~=3.11.0
cython~=3.0.7
future~=0.18.3
platformdirs~=3.10.0
filelock~=3.13.1
typeguard~=2.13.3
lxml~=5.0.1
keyring~=24.3.0
pyfiglet~=0.8.post1
colorama~=0.4.6
json-rpc~=1.15.0
pyOpenSSL~=24.2.1
cryptography~=43.0.1
more-itertools~=10.5.0
Pygments~=2.18.0
betterproto~=2.0.0b6
jaraco-classes~=3.4.0
nest-asyncio~=1.6.0
termcolor~=2.1.0